In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(columns=["i", 'j', "reg", "X", "Y"])
df.head()
lastKDays = 30

In [9]:
for i in range(6):
    for j in range(5):
        try:
            gp = np.load(f"../exp2/src/results/{lastKDays}/final_gp/{i}_{j}/final_rmse.npy")
            qbc = np.load(f"../exp2/src/results/{lastKDays}/final_qbc_1/{i}_{j}/final_rmse.npy")
            qbc_rd = np.load(f"../exp2/src/results/{lastKDays}/final_random_qbc_1/{i}_{j}/final_rmse.npy")
            gp_rd = np.load(f"../exp2/src/results/{lastKDays}/final_random_gp/{i}_{j}/final_rmse.npy")
            for reg, temp in zip(["gp", "qbc", "qbc_rd", "gp_rd"], [gp, qbc, qbc_rd.mean(axis=0), gp_rd.mean(axis = 0)]):
                store = {
                    'i': [i]*len(list(temp)),
                    'j': [j]*len(list(temp)),
                    'reg': [reg] * len(list(temp)),
                    "X": [i for i in range(len(temp))],
                    "Y": temp,
                }
                tempdf = pd.DataFrame(store)
                df = df.append(tempdf, ignore_index=True)
            
        except Exception as e:
            print (len(gp))
            print (e)
#             raise ValueError

In [10]:
import seaborn as sns
df.head()

   i  j reg  X          Y
0  0  0  gp  0  17.140683
1  0  0  gp  1   7.655736
2  0  0  gp  2   4.776284
3  0  0  gp  3   7.557050
4  0  0  gp  4  10.816291

In [12]:
for i in range(6):
    for j in range(5):
        tmp = df[df['i']==i]
        tmp = tmp[tmp['j']==j]
        print(i, j)
#         sns.lineplot(data=tmp, x="X", y="Y", hue="reg")
        print (tmp.groupby("reg").mean())
#         plt.show()
#         break
#     break

0 0
                Y
reg
gp      17.431866
gp_rd   15.224897
qbc     39.372660
qbc_rd  38.807470
0 1
                Y
reg
gp      18.338176
gp_rd   23.122320
qbc     38.637098
qbc_rd  40.319501
0 2
                Y
reg
gp      15.804958
gp_rd   21.343765
qbc     38.595352
qbc_rd  40.931956
0 3
                Y
reg
gp      15.711119
gp_rd   23.625337
qbc     37.326895
qbc_rd  39.674103
0 4
                Y
reg
gp      17.109133
gp_rd   18.359795
qbc     38.414505
qbc_rd  40.495110
1 0
                Y
reg
gp      23.152670
gp_rd   26.948086
qbc     45.166627
qbc_rd  44.321342
1 1
                Y
reg
gp      32.312766
gp_rd   27.944693
qbc     43.003305
qbc_rd  44.681581
1 2
                Y
reg
gp      19.916645
gp_rd   20.703174
qbc     42.926974
qbc_rd  43.888683
1 3
                Y
reg
gp      23.656101
gp_rd   33.041335
qbc     43.661556
qbc_rd  44.831274
1 4
                Y
reg
gp      20.553598
gp_rd   25.419138
qbc     46.733632
qbc_rd  44.974452
2 0
                Y
reg
gp      22.088552
gp_rd   24.924852
qbc     41.816591
qbc_rd  41.089654
2 1
                Y
reg
gp      26.781484
gp_rd   33.369605
qbc     40.622393
qbc_rd  40.407220
2 2
                Y
reg
gp      21.245262
gp_rd   25.530040
qbc     43.602391
qbc_rd  41.896596
2 3
                Y
reg
gp      22.701707
gp_rd   29.061725
qbc     40.086333
qbc_rd  41.150328
2 4
                Y
reg
gp      18.677006
gp_rd   25.896304
qbc     42.911832
qbc_rd  43.516391
3 0
                Y
reg
gp      18.156974
gp_rd   22.014663
qbc     36.464948
qbc_rd  37.061846
3 1
                Y
reg
gp      17.526717
gp_rd   19.490117
qbc     37.149289
qbc_rd  36.743853
3 2
                Y
reg
gp      16.658609
gp_rd   22.508953
qbc     35.921889
qbc_rd  36.430436
3 3
                Y
reg
gp      14.649521
gp_rd   20.512490
qbc     34.826923
qbc_rd  35.738085
3 4
                Y
reg
gp      16.780471
gp_rd   21.106830
qbc     35.833038
qbc_rd  35.313481
4 0
                Y
reg
gp      18.926363
gp_rd   24.063271
qbc     40.226274
qbc_rd  41.025324
4 1
                Y
reg
gp      24.553575
gp_rd   31.250111
qbc     41.153261
qbc_rd  40.598095
4 2
                Y
reg
gp      17.489727
gp_rd   22.710255
qbc     42.710253
qbc_rd  40.695931
4 3
                Y
reg
gp      19.119630
gp_rd   29.017756
qbc     39.247169
qbc_rd  40.892967
4 4
                Y
reg
gp      16.787516
gp_rd   21.655808
qbc     43.158839
qbc_rd  42.124230
5 0
                Y
reg
gp      20.366803
gp_rd   18.147317
qbc     38.980119
qbc_rd  39.017990
5 1
                Y
reg
gp      27.937835
gp_rd   26.478910
qbc     40.032522
qbc_rd  40.655045
5 2
                Y
reg
gp      19.451020
gp_rd   19.217027
qbc     39.295419
qbc_rd  39.334355
5 3
                Y
reg
gp      21.674198
gp_rd   23.238690
qbc     39.043128
qbc_rd  39.465386
5 4
                Y
reg
gp      21.554964
gp_rd   21.246394
qbc     42.166072
qbc_rd  40.544844